{% extends "::base.html.twig" %}

{% block title %}AppBundle:Office:index{% endblock %}

{% block body %}
<h1>Welcome to the Office:index page</h1>
    {% for office in offices %}
        <li>{{ office.street }}</li>
    {% endfor %}
{% endblock %}
