{% extends "::base.html.twig" %}

{% block title %}Search offices{% endblock %}

{% block body %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="container">
        <div class="row">
            <form class="col s12 card">
                <div class="card-content">
                    <span class="card-title">Search offices in the neigborhood.</span>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="location" type="text" class="validate">
                            <label for="location">Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Distance: <span id="range-value">15</span> km</p>
                            <p class="range-field">
                                <input type="range" id="range" min="5" max="100" step="1" value="15"/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <input type="checkbox" class="filled-in" id="weekend"/>
                            <label for="weekend">Open in weekends</label>
                        </div>
                        <div class="col s6">
                            <input type="checkbox" class="filled-in" id="support"/>
                            <label for="support">With support desk</label>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light" type="submit" name="submit">
                        Search <i class="material-icons right">search</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <div id="map" style="width: 100%; height: 400px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 result">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            //range selector
            $('#range').on("change mousemove", function () {
                $value = $(this).val();
                $('#range-value').text($value);
            });

            //Form submit
            $('form').submit(function (event) {
                //show loading animation
                $('.result').empty();
                $(".result").append('<div class="progress"><div class="indeterminate"></div></div>');
                //get form data
                var formData = {
                            'location': $('#location').val(),
                            'range': $('span#range-value').text(),
                            'weekend': $('#weekend:checked').length,
                            'support': $('#support:checked').length
                        },
                        url = '/api/v1/offices';
                url += '?location=' + formData['location'] + '&range=' + formData['range'] + '&weekend=' + formData['weekend'] + '&support=' + formData['support'];

                //process the form
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'json',
                    encode: true
                })
                        .done(function (data) {
                            showOffices(data);
                        })
                        .fail(function (data) {
                            console.log(data);
                        });

                // Prevent form from submitting (cause refresh).
                event.preventDefault();
            });

            function showOffices(data) {
                $result = $('.result');

                $result.empty();
                $result.append('<ul class="collection with-header"></ul>');
                $collection = $('.result .collection');
                $collection.append('<li class="collection-header">'
                        + '<h4>' + data.length + (data.length == 1 ? ' office': ' offices')+' found.' + '</h4>'
                        + '</li>');


                var resultItem = "";

                $.each(data, function (index, office) {
                    resultItem += '<li class="collection-item avatar">'
                            + '<i class="material-icons circle">work</i>'
                            + '<span class="title">' + office.street + ', ' + office.city + '</span>'
                            + '<p>Open in the weekends:<i class="material-icons tiny">'+(office.isOpenInWeekends =="Y"?"done":"clear")+'</i><br>'
                            + 'Has support desk:<i class="material-icons tiny">'+(office.hasSupportDesk =="Y"?"done":"clear")+'</i><br>'
                            + 'Distance: ' + parseFloat(office.distance).toFixed(2) + ' km.</p>'
                            + '</li>';
                });
                $collection.append(resultItem);
                officesMap(data.curLoc, data.results);
            }

            function officesMap(curLoc, data){
                initMap();
                var myLatLng = curLoc;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: myLatLng
                });
                $.each(data, function(index, value) {
                    var myLatLng = { lat: value.latitude, lng: value.longitude }
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Hello World!'
                    });
                })
            }


        });
    </script>

    <script>
        function initMap() {
            var myLatLng = {lat: -30.363, lng: 131.044};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: myLatLng
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9n3VRQ1C9GdsiLOHV8svhf9lnvvMAiEQ"
            async defer></script>
{% endblock %}
